#%RAML 0.8
---
title: SPHERE.IO API
baseUri: https://api.sphere.io
securitySchemes:
  - oauth_2_0:
      description: |
        OAuth2 is a protocol that lets external apps request authorization to private
        details in a user's SPHERE.IO account without getting their password. This is
        preferred over Basic Authentication because tokens can be limited to specific
        types of data, and can be revoked by users at any time.
      type: OAuth 2.0
      describedBy:
        headers:
          Authorization:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with
              the "access_token" query string parameter.
            type: string
        queryParameters:
          access_token:
            description: |
              Used to send a valid OAuth 2 access token. Do not use together with
              the "Authorization" header
            type: string
        responses:
          404:
            description: Unauthorized
      settings:
        authorizationUri: https://auth.sphere.io/oauth/token
        accessTokenUri: https://auth.sphere.io/oauth/token
        authorizationGrants: [ credentials ]
        scopes:
          - "manage_project:{projectKey}"
          - "manage_products:{projectKey}"
          - "view_products:{projectKey}"
          - "manage_orders:{projectKey}"
          - "view_orders:{projectKey}"
          - "manage_customers:{projectKey}"
          - "view_customers:{projectKey}"
securedBy: [ oauth_2_0]
mediaType: application/json

/{projectKey}:
  /categories:
    displayName: Categories
    description: Categories endpoint
    get:
      description: Get all categories
      responses:
        200:
          description: TODO referenz auf ein paged query result von Category objekten
          body:
            application/json:
              # TODO reicht das als referenz auf ein oben definiertes Schema?
              schema: Category
